* {
  box-sizing: border-box;
}

body {
  background-color: blanchedalmond;
  margin: 0;
  height: 100vh;
}

.container {
  position: relative;
}

.nav {
  background-color: black;
  position: relative;
  border: 2px solid black;
  border-radius: 7px;
  height: 150px;
  top: 3px;
  z-index: 10;
  opacity: 0;
}

.container.play .nav {
  animation: gowoosh 2s linear forwards;
}

.container.pause .nav {
  animation: unwoosh 2s linear forwards;
}

@keyframes gowoosh {
  from {
    opacity: 0.8;
  }

  to {
    opacity: 0;
  }
}

@keyframes unwoosh {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.8;
  }
}

.nav h3 {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 50px;
  text-align: center;
  color: rgba(225, 51, 81, 1);
}

.nav .btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav .btn-container .sort-btn {
  margin-top: 25px;
  margin-right: 35px;
  border-radius: 15px;
  height: 50px;
  cursor: pointer;
  background-color: aquamarine;
  color: rgba(225, 51, 81, 1);
}

.playground .child {
  width: 15px;
  background-color: gold;
  margin: 0;
  border: 1px solid black;
  position: absolute;
  top: 0;
}

.replay {
  width: 100vw;
  height: 100vh;
  z-index: 10px;
  opacity: 0;
  background-color: grey;
  position: absolute;
  top: 0;
}

.replay #replay-btn {
  position: absolute;
  margin: 0;
  top: 200px;
  left: 47%;
  width: 60px;
  height: 50px;
  font-size: 40px;
  background-color: grey;
  cursor: pointer;
  border: 0;
}

.replay #replay-btn:hover {
  border: 1px solid black;
  border-radius: 20%;
}

.replay h2 {
  position: relative;
  top: 250px;
  text-align: center;
  margin-right: 20px;
}

.replay.on {
  opacity: 0.65;
}
